@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(./Open-Sans.eot);
  src: local('Open Sans'), 
  local('OpenSans'), 
  url(./Open-Sans.woff) format('woff'), 
  url(./Open-Sans.ttf) format('truetype')
}