@import url('./font/OpenSans.css');

body {
    background: #333;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.branding {
    margin: 2rem;
}

.card {
    background: #444;
}